@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-primary: #ffff;
  --color-secondary: #f000b8;
  --color-accent: #37cdbe;
  --color-neutral: #2a2e37;
  --color-base-100: #3d4451;
  --color-base-content: #ebecf0;
  --color-info: #2563eb;
  --color-success: #87d039;
  --color-warning: #e2d562;
  --color-error: #ff6f6f;
}

